<phpunit bootstrap="bootstrap.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         stopOnFailure="false"
		 strict="false"
         verbose="true"
		 backupGlobals="false"
		 backupStaticAttributes="false">
  <!-- configure other elements -->
</phpunit>