.communication_preview_container {
    border-bottom-right-radius: 0.375rem;
    border-bottom-left-radius: 0.375rem;
    --tw-bg-opacity: 1;
    background-color: rgba(255, 255, 255, 1);
    background-color: rgba(255, 255, 255, var(--tw-bg-opacity, 1))
}
.communication_preview_container .header {
    border-bottom-width: 1px;
    border-color: rgba(197, 208, 213, 0.5);
    --tw-bg-opacity: 1;
    background-color: rgba(255, 255, 255, 1);
    background-color: rgba(255, 255, 255, var(--tw-bg-opacity, 1));
    padding: 0.5rem;
    font-size: 0.75rem;
    line-height: 1rem
}
.communication_preview_container .header .meta-data {
    display: flex;
    flex-direction: row;
    align-items: center;
    -moz-column-gap: 0.25rem;
         column-gap: 0.25rem
}
.communication_preview_container .header .meta-data .contact-avatar {
    flex: none
}
.communication_preview_container .header .meta-data .contact-avatar span {
    display: grid;
    width: 2.5rem;
    height: 2.5rem;
    align-content: center;
    justify-content: center;
    place-content: center;
    align-items: center;
    border-radius: 9999px;
    --tw-bg-opacity: 1;
    background-color: rgba(243, 244, 245, 1);
    background-color: rgba(243, 244, 245, var(--tw-bg-opacity, 1));
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 600;
    --tw-text-opacity: 1;
    color: rgba(91, 115, 125, 1);
    color: rgba(91, 115, 125, var(--tw-text-opacity, 1))
}
.communication_preview_container .header .meta-data .mail-details {
    display: flex;
    flex-grow: 1;
    flex-direction: column
}
.communication_preview_container .header .meta-data .mail-details .row {
    display: flex;
    flex-direction: row;
    align-items: center;
    -moz-column-gap: 0.25rem;
         column-gap: 0.25rem;
    --tw-text-opacity: 1;
    color: rgba(91, 115, 125, 1);
    color: rgba(91, 115, 125, var(--tw-text-opacity, 1))
}
.communication_preview_container .header .meta-data .mail-details .row .label {
    --tw-text-opacity: 1;
    color: rgba(169, 185, 192, 1);
    color: rgba(169, 185, 192, var(--tw-text-opacity, 1))
}
.communication_preview_container .header .meta-data .mail-details .row .date {
    font-weight: 500
}
.communication_preview_container .header .meta-data .mail-details .row:first-child {
    font-weight: 600;
    --tw-text-opacity: 1;
    color: rgba(51, 64, 70, 1);
    color: rgba(51, 64, 70, var(--tw-text-opacity, 1))
}
.communication_preview_container .header .meta-data .flags > div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.125rem
}
.communication_preview_container .header .meta-data .flags > div span {
    text-wrap: nowrap;
    border-radius: 0.25rem;
    background-color: rgba(197, 208, 213, 0.5);
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    padding-top: 0.125rem;
    padding-bottom: 0.125rem
}
.communication_preview_container .header .meta-data .date {
    font-weight: 600;
    --tw-text-opacity: 1;
    color: rgba(0, 0, 0, 1);
    color: rgba(0, 0, 0, var(--tw-text-opacity, 1))
}
.communication_preview_container .preview_containers.attachments {
    margin-top: 0.25rem;
    border-radius: 0.375rem;
    background-color: rgba(197, 208, 213, 0.5);
    padding: 0.25rem
}
.communication_preview_container .preview_containers.attachments > div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.125rem
}
.communication_preview_container .preview_containers.attachments > div button {
    display: flex;
    flex-direction: row;
    align-items: center;
    -moz-column-gap: 0.125rem;
         column-gap: 0.125rem;
    text-wrap: nowrap;
    border-radius: 0.375rem;
    padding-top: 0.125rem;
    padding-bottom: 0.125rem;
    padding-left: 0.25rem;
    padding-right: 0.25rem
}
.communication_preview_container .preview_containers.attachments > div button:hover {
    --tw-bg-opacity: 1;
    background-color: rgba(197, 208, 213, 1);
    background-color: rgba(197, 208, 213, var(--tw-bg-opacity, 1))
}
.communication_preview_container iframe {
    border-bottom-right-radius: 0.375rem;
    border-bottom-left-radius: 0.375rem
}
