html, body {
  overflow: hidden;
}

nav {
  width: 25rem;
  position: fixed;
  left: calc(25rem * -1);
  background: transparent;
  box-sizing: border-box;
  overflow: auto;
  padding: 10px;
  z-index: 999;
}
nav.open {
  left: 0;
}
nav .tools {
  margin-bottom: 10px;
}
nav .tools .sidebar-toggle {
  display: none;
}
nav .panel {
  margin: 0;
}
nav .sitemap ul {
  margin: 0;
  padding: 0 0 0 5px;
  list-style: none;
}
nav .sitemap ul:not(:first-child) {
  border-left: 1px solid #d2d6de;
}
nav .sitemap ul li .node {
  margin: 3px 0;
  border: 1px solid #d2d6de;
  background: #FFF;
  padding: 3px;
  width: 100%;
  text-align: left;
  cursor: default;
  border-radius: 3px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  /*&.btn { white-space: normal; }*/
}
nav .sitemap ul li .node.btn-primary i.icon, nav .sitemap ul li .node.btn-primary i.checked, nav .sitemap ul li .node.btn-primary a {
  color: #FFF;
}
nav .sitemap ul li .node.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
nav .sitemap ul li .node span.label {
  /*color: #d2d6de;*/
}
nav .sitemap ul li .node span.label .fa {
  color: #8C8C8C;
}
nav .sitemap ul li .node a {
  color: #000;
}
nav .sitemap ul li .node i.icon {
  color: #d2d6de;
  margin: 10px;
  position: relative;
}
nav .sitemap ul li .node i.checked {
  color: green;
  position: absolute;
  right: -5px;
  bottom: -5px;
  font-size: 10px;
}
nav .sitemap ul li hr {
  border-color: #d2d6de;
  margin: 10px 0;
}
nav .sitemap ul li ul {
  padding-left: 10px;
  display: none;
}
nav .sitemap ul li.active > .node {
  border-color: transparent;
}
nav .sitemap ul li.active > ul {
  display: block;
}
nav .sitemap ul li.inactive {
  opacity: 0.5;
}

main.index .info-box.block {
  min-height: 65px;
}
main.index .info-box.block .info-box-text a {
  font-weight: bold;
}
main.index .info-box.block .info-box-icon {
  line-height: 65px;
  height: 65px;
  font-size: 30px;
}
main.index .info-box.block .info-box-text a,
main.index .info-box.block .info-box-icon,
main.index .info-box.block .info-box-content {
  color: #FFF;
}

main.steps {
  width: calc(100% - 25rem);
  float: right;
  overflow: auto;
}
main.steps form h3 {
  border-bottom: 1px solid #f4f4f4;
  font-size: 18px;
}
main.steps.full {
  width: 100%;
}

.overview .block {
  margin: 5px 0;
}
.overview hr {
  border-color: #d2d6de;
  margin: 5px 0;
}

nav, main {
  height: 100vh;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}

.info-icon.inactive {
  opacity: 0.2;
}

/*@media (max-width: 1025px) {

  nav {
    left: calc(25rem * -1);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    &.open {
      left: 0;
    }
    .tools .sidebar-toggle {
      display: block;
    }
  }

  main {
    width: 100%;
  }

}*/
