@charset "UTF-8";
.payment_toggle_row {
  display: table-row;
}

.payment_toggle_row.hidden {
  display: none;
}

.payment_clickable_row {
  cursor: pointer;
}

/**
  * Kopiert von /admin/extensions/thebing/gui2/gui2.css
 */
/*.tblDocumentTable {
	width: 100%;
	border-spacing:0px;
	table-layout: fixed;
}

.tblDocumentTable th,
.tblDocumentTable td {
  padding: 2px 2px;
  font-size: 11px;
}

.tblDocumentTable td {
  font-size: 11px !important;
}*/
/* Bootstrap setzt .label:empty {display:none} */
.tblDocumentTable col.label {
  display: table-column;
}

.tblDocumentTable td.tdCheckbox {
  padding: 5px 2px 0 2px !important;
}

.tblDocumentTable #amount_commission_refresh_all {
  /*position: relative;
  top: 4px;*/
  padding: 1px 4px;
}

.tblDocumentTable .tdActionImg {
  text-align: center;
}

div.divPositionContainer {
  margin: 15px 0;
}

.tblDocumentPositions tfoot tr:first-child td {
  border-top: 2px solid #CCCCCC;
}

.tblDocumentPositions th.small {
  /*	font-size: 10px;*/
}

.tblDocumentPositions td img {
  /*	float: left;*/
}

.tblDocumentPositions td input[type=checkbox] {
  margin: 1px 2px 0 2px;
}

.tblDocumentPositions td select {
  height: 19px;
}

.GUIDialogContentPadding {
  position: static; /* War früher schon so, nach V5 Update gabs fehler deswegen wieder überschreiben. */
}

.tblDocumentPositions td textarea {
  /*	padding: 1px 0;
  	-webkit-transition: none;
  	-moz-transition: none;
  	transition: none;*/
}

.tblDocumentPositions td {
  /*	padding: 2px 2px;
  	vertical-align: top;
  	font-size: 11px;*/
  white-space: nowrap;
}

.tblDocumentPositions td.amount,
.tblDocumentPositions th.amount {
  text-align: right;
}

.tblDocumentPositions .container_row_details {
  margin: 10px 10px 10px 0;
}

.DocumentDiscountExpand {
  float: right;
  cursor: pointer;
}

.alignRightImportant {
  text-align: right !important;
}

.alignLeftImportant {
  text-align: left !important;
}

.DocumentPositionDiv {
  margin-top: 5px;
}

.DocumentPositionDiv input {
  width: 100%;
}

.amount {
  text-align: right;
}

.amount .input-group {
  text-align: left;
}

.divToolbarIcon .divToolbarIconArrowBox {
  text-align: left;
  padding: 3px;
  /*background: #F7F7F7 !important;*/
}

.readonly {
  background-color: #F7F7F7 !important;
  color: #666666 !important;
}

button {
  /*	border: 1px solid #CCC;
  	color: #000;*/
}

.dialog-body .group_customer {
  width: 100px;
}

.table_document_history_items {
  min-width: 917px;
  width: 100%;
}

.table_document_history_items td {
  background-color: #EEE;
}

.table_document_history_items th {
  background-color: #F7F7F7 !important;
}

.table_document_history_items .amount_td {
  text-align: right;
}

.table_document_history_items .line {
  border-top: 1px solid #CCC;
}

/*input[type=checkbox] {
	border: 0;
	width: auto !important;
}*/
/*.payment_customer_td {
  background-color: #f7f7f7 !important;
}*/
.GUIDialogRowInputDiv div.txt {
  border: 1px solid #ccc;
  background-color: #fff;
  padding: 1px 3px;
  width: 500px;
  margin-top: 1px;
  min-height: 13px;
}

.GUIDialogRowInputDiv img.icon {
  cursor: pointer;
  display: block;
  float: right;
  margin: 2px;
}

.GUIDialogRowInputDiv .label:not(.no-floating) {
  float: left;
  margin-top: 4px;
  margin-right: 4px;
}

/* Kalender in Tabellen */
/*---------------*/
img.imgPreTextIcon {
  vertical-align: middle;
}

.infoBoxAdditional img {
  cursor: pointer;
}

.infoBox .additionalH1 {
  cursor: pointer;
  background-color: #F7F7F7;
}

.infoBox .additionalH1 img {
  display: block;
  float: right;
  cursor: pointer;
}

.floatLeft {
  float: left;
}

.floatRight {
  float: right;
}

.currency_amount_row_input_from, .currency_amount_row_input_to {
  display: inline-block;
  width: 65px !important;
  margin-right: 5px;
}

.currency_amount_row_select {
  display: inline-block;
  width: 55px !important;
  margin-right: 5px;
}

.currency_amount_row_label_input {
  position: relative;
  top: -7px;
}

.currency_amount_row_leftdiv {
  float: left;
}

.amount-sep {
  margin: 0 16px 0 3px;
}

.currency_amount_row_rightdiv {
  float: left;
}

.auto_width {
  width: auto !important;
}

.w100 {
  width: 100px !important;
}

.w200 {
  width: 200px !important;
}

.w70 {
  width: 70px !important;
}

.w50 {
  width: 50px !important;
}

.w20 {
  width: 20px !important;
}

.dialog_row_icon {
  cursor: pointer;
  margin: 0 3px;
  position: relative;
  top: 2px;
}

/*.divToolbar{
	padding: 0;
}*/
.pointer {
  cursor: pointer !important;
}

.no-padding {
  padding: 0 !important;
}

.row_input input {
  color: #000;
  display: inline-block;
}

.row_input input[disabled] {
  background-color: #eee;
}

.row_input .attendance_checkbox {
  display: block;
  float: left;
  margin: 2px 2px 0 0;
}

.guiTableHead th, .guiTableBody td {
  overflow: hidden;
}

.tblDocumentPositions .GUIDialogRowCalendarDiv {
  float: left;
  margin: 0;
}

.tblDocumentPositions .GUIDialogRowCalendarDiv img {
  float: none !important;
}

.GUIDialogRow .divToolbar {
  background-color: #EEEEEE;
  border-bottom: #EEEEEE;
}

.GUIDialogRow .guiBarElement {
  margin: 0 3px;
}

.GUIDialogRow .divToolbar .divToolbarIcon {
  margin: 1px 0 0;
}

.GUIDialogRow .divToolbar .divToolbarLabel {
  margin: 0;
}

.tooltip_table {
  max-width: 380px !important;
}

.tooltip_table th {
  font-size: 10px;
}

.tooltip_date {
  width: 60px !important;
}

.tooltip_room {
  width: 80px !important;
}

.tooltip_family {
  width: auto;
}

.tooltip_table td {
  font-size: 9px;
}

.divTooltip hr {
  margin: 2px 0;
  border: 0;
  border-top: 1px solid #ccc;
}

.GUIDialogRow .divToolbar {
  border-top: 0;
  background-color: #ccc;
}

.GuiDialogErrorTab {
  color: red !important;
}

.complaint_history_header h5 {
  font-weight: bold;
  padding-left: 10px;
}

.complaint_history_box {
  margin-bottom: 5px;
}

.complaint_history_header {
  margin-bottom: -20px;
}

#box_seperator {
  border: solid 1px;
  color: #879196;
  width: 100%;
}

.GUIDialogRowInputDiv button.inputDivAddonIcon {
  /*    padding: 0;
      width: 16px;
      height: 16px;
      border: none;
      margin-left:2px;
      margin-top:2px;
      float:right;
      display: block;
      cursor: pointer;*/
}

.block_title{
  margin-bottom: 0.5rem;
  display: flex;
  justify-content: space-between;
  border-bottom-width: 1px;
  border-color: rgba(197, 208, 213, 0.5);
  padding: 0.375rem;
  font-weight: 500;
}

.block_title i{
  margin-left: 0.5rem;
}

.block-headline .divToolbar {
  background-color: #fff !important;
}

.block-headline-actions {
  font-size: 14px;
}

.form-horizontal .form-inline .checkbox {
  display: inline-block !important;
  margin-top: -6px !important;
  margin-bottom: 0 !important;
  vertical-align: middle !important;
}

.group-table {
  table-layout: fixed;
}

.group-table th {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.group-table td input[type=checkbox],
.group-table td input[type=radio] {
  margin: 3px 0 0 0;
}

.student_personal_data_container,
.student_contact_data_container,
.dialog_columns_container {
  display: flex;
}

/*.student_personal_data_container > div,
.student_contact_data_container > div,
.dialog_columns_container > div {
  padding-right: 15px;
  padding-left: 15px;
}*/
@media (max-width: 980px) {
  .student_personal_data_photo {
    display: none;
  }
  .dialog_columns_container {
    display: block;
  }
}
.student_personal_data_container > div > div,
.student_contact_data_container > div > div,
.dialog_columns_container > div > div {
  height: 100%;
  margin-bottom: 0;
}

.dialog_columns_container > div {
  flex: 0 0 50%;
}

.student_contact_data_address {
  flex: 0 0 50%;
}

.student_contact_data_contact {
  flex: auto;
}

.student_personal_data_fields {
  flex: 0 0 50%;
}

.student_personal_data_search {
  flex: 30%;
}

.student_personal_data_photo {
  flex: auto;
}

.student_personal_data_photo .box-body {
  text-align: center;
}

.student_personal_data_photo .photo {
  margin-bottom: 15px;
}

.student_photo {
  max-width: 250px;
}

.student-dummy {
  font-size: 260px;
  color: #ddd;
  text-align: center;
}

.course_info_container {
  min-height: 30px;
  padding-top: 4px;
}

.divTooltip ul {
  margin-bottom: 0;
}

.divTooltip li {
  font-size: 12px;
}

.gui-sidebar-filter-additional .select-navigation {
  display: flex;
  justify-content: space-between;
  gap: 0 2px;
}

.customer_identification_results #customer_box_result {
  padding: 0 2px;
}

.dialog-content .invisible-field {
  background: inherit;
  border: medium none currentcolor;
  border: initial;
}

.create-invoice-container .input-sm {
  font-size: inherit;
}

.create-invoice-container .form-group-sm .control-label,
.create-invoice-container .form-group-sm .form-control {
  font-size: inherit;
}

.day-select{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}
.day-select .functions, .day-select .days{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.25rem;
  white-space: nowrap;
}
.day-select .functions button, .day-select .days button{
  font-size: 0.75rem;
  line-height: 1rem;
}

.payment_customer_td{
  background-color: rgba(243, 244, 245, 0.5);
  padding: 0.25rem;
  font-weight: 600;
  --tw-text-opacity: 1;
  color: rgba(91, 115, 125, 1);
  color: rgba(91, 115, 125, var(--tw-text-opacity, 1));
}

/*
 * Specials
 */
.condition_row{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.condition_row .GUIDialogRow{
  flex-grow: 1;
}
