@page querformat {
  size: landscape;
}
#blocksScroller {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  border-bottom-right-radius: 0.375rem;
  border-bottom-left-radius: 0.375rem;
  border-top-width: 1px;
  border-color: rgba(197, 208, 213, 0.5);
  --tw-bg-opacity: 1;
  background-color: rgba(255, 255, 255, 1);
  background-color: rgba(255, 255, 255, var(--tw-bg-opacity, 1));
  padding: 1rem;
}

#blocksContainerInfo {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.divHeader {
  padding: 0;
}

/* Aus alter admin.css kopiert */
.infoBox {
  border: 1px solid #ccc;
  background-color: #ffffff;
}

.infoBox h1 {
  font-size: 11px;
  font-weight: bold;
  vertical-align: middle;
  background-color: #eee;
  padding: 5px;
  margin: 0;
  border-bottom: 1px solid #ccc;
}

.infoBox .additionalH1 {
  cursor: pointer;
  background-color: #F7F7F7;
}

.infoBox .infoBoxContent, .infoBox p {
  padding: 4px;
  font-size: 11px;
  line-height: 15px;
  margin: 0;
}

.infoBoxContentScroll {
  page: querformat;
}

.infoBoxAdditional > .fa {
  cursor: pointer;
  font-size: 1.3em;
}

#groups_container {
  width: 1100px;
  margin: 0;
  margin-left: 5px;
  margin-right: 5px;
}

#columns_container {
  width: 1320px;
}

#scroll_container {
  width: 1104px;
  overflow-x: scroll;
  overflow-y: hidden;
  height: 195px;
}

#cols_filter {
  height: 350px;
  overflow-y: scroll;
  overflow-x: hidden;
}

#cols_filter .filter_col {
  width: 170px;
}

#divColTabLabels {
  overflow: hidden;
}

.column_block {
  height: 86px;
  margin-left: 5px;
  margin-right: 5px;
  background-color: #FFF;
  border: 1px dashed #CCC;
  text-align: center;
  line-height: 66px;
  font-size: 16px;
  color: #CCC;
}

.filter_col {
  float: left;
  margin-bottom: 3px;
  padding: 3px 4px;
  overflow: hidden;
  cursor: move;
  position: relative;
  z-index: 1000000;
  width: 170px;
}

.column_block .filter_col, #scroll_container .filter_col {
  margin-bottom: 0;
  color: #000;
  font-size: 10px;
  line-height: normal;
  height: 84px;
  text-align: left;
  cursor: auto;
}

#scroll_container_content {
  height: 188px;
}

.scroll_container_report {
  background-color: #F9F9F9;
  margin-top: 2px;
}

#scroll_container_content .spanTitle {
  height: 45px;
  font-size: 12px;
  padding: 3px;
}

#scroll_container_content .config-div {
  position: absolute;
  bottom: auto;
  bottom: initial;
  left: 0;
  top: 45px;
  margin: 5px;
}

#scroll_container .small_margin {
  margin-right: 8px;
  border: 1px dashed #CCC;
  height: 170px;
}

#divColTabLabels .GUIDialogRowLabelDiv {
  width: 120px;
}

.remover {
  display: block;
  float: right;
  cursor: pointer;
}

.boxHover {
  border-color: #000;
  background-color: #FFFF99;
}

.infoBox {
  margin-top: 5px;
  margin-right: 5px;
  overflow: visible;
}

.infoBox .infoBoxContent div {
  width: 100%;
}

.infoBox .additionalH1_extra {
  cursor: auto !important;
}

.labelText {
  font-size: 11px;
  color: #000;
  line-height: 17px;
  font-weight: normal;
}

.topMarger {
  margin-top: 20px;
}

.w120 {
  width: 120px;
}

.w25 {
  width: 25px !important;
}

.stat_result {
  border: 1px solid #CCC;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  margin-top: 10px;
  margin-bottom: 10px;
}

.stat_result.margin {
  margin-bottom: 15px;
}

.stat_result.fixed {
  table-layout: fixed;
}

.stat_result th, .stat_result td {
  font-size: 10px;
  border: 1px solid #CCC;
}

.stat_result th {
  padding: 5px;
  background-color: #EEE;
}

.stat_result .noWrap {
  white-space: nowrap;
}

.stat_result td {
  padding: 5px;
  text-align: right;
}

.stat_result .tr_bg_light {
  background-color: #FFF;
}

.stat_result .tr_bg_dark {
  background-color: #F7F7F7;
}

.stat_result .border_big {
  border-right: 3px solid #CCC;
}

.w150 {
  width: 150px;
}

/*.infoBoxContentScroll {
	overflow-x: auto;
}*/
.infoBox.floatLeft h1 select,
.infoBox.floatLeft h1 input {
  font-size: 14px;
}

.infoBoxContentScroll div {
  width: auto !important;
}

.stat_result .alignLeft {
  text-align: left;
}
