@import "node_modules/bootstrap/scss/mixins";
@import "./variables";

@mixin block-margin {
	margin-bottom: $spacer;
	@include clearfix();
}

@mixin radio-options-padding {
	width: 100%;
	padding: 0 ($spacer * .75) ($spacer * .5);
}
