.slide-enter-active {
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;
}

.slide-leave-active {
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.slide-enter-to,
.slide-leave-from {
  opacity: 1;
}

.slide-enter-from,
.slide-leave-to {
  opacity: 0;
}

.navigation nav::-webkit-scrollbar {
  width: 0.375rem;
}
.navigation nav::-webkit-scrollbar-track {
  background-color: transparent;
}
.navigation nav::-webkit-scrollbar-thumb {
  border-radius: 0.25rem;
  --tw-bg-opacity: 1;
  background-color: rgba(33, 41, 46, 1);
  background-color: rgba(33, 41, 46, var(--tw-bg-opacity, 1));
}
.navigation nav::-webkit-scrollbar-thumb:hover {
  --tw-bg-opacity: 1;
  background-color: rgba(21, 26, 29, 1);
  background-color: rgba(21, 26, 29, var(--tw-bg-opacity, 1));
}

input:focus, select:focus, button:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

a {
  --tw-text-opacity: 1;
  color: rgba(2, 132, 199, 1);
  color: rgba(2, 132, 199, var(--tw-text-opacity, 1));
}

a:hover {
  --tw-text-opacity: 1;
  color: rgba(7, 89, 133, 1);
  color: rgba(7, 89, 133, var(--tw-text-opacity, 1));
}

/*
 * Buttons
 */
.btn {
  display: flex;
  cursor: pointer;
  flex-direction: row;
  align-items: center;
  -moz-column-gap: 0.25rem;
       column-gap: 0.25rem;
  text-wrap: nowrap;
  border-radius: 0.375rem;
  padding-left: 0.625rem;
  padding-right: 0.625rem;
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
  font-family: Inter, ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-feature-settings: "tnum";
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), 0 0 rgba(0,0,0,0);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 rgba(0,0,0,0));
  --tw-ring-inset: inset;
}
.btn.btn-sm {
  font-size: 0.75rem;
  line-height: 1rem;
}
.btn.btn-box-tool, .btn.btn-default {
  --tw-bg-opacity: 1;
  background-color: rgba(255, 255, 255, 1);
  background-color: rgba(255, 255, 255, var(--tw-bg-opacity, 1));
  --tw-text-opacity: 1;
  color: rgba(41, 51, 56, 1);
  color: rgba(41, 51, 56, var(--tw-text-opacity, 1));
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), 0 0 rgba(0,0,0,0);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 rgba(0,0,0,0));
  --tw-ring-inset: inset;
  --tw-ring-color: rgba(169, 185, 192, 0.75);
}
.btn.btn-box-tool:hover, .btn.btn-default:hover {
  --tw-bg-opacity: 1;
  background-color: rgba(197, 208, 213, 1);
  background-color: rgba(197, 208, 213, var(--tw-bg-opacity, 1));
}
[data-mode="dark"] .btn.btn-box-tool, [data-mode="dark"] .btn.btn-default {
  --tw-bg-opacity: 1;
  background-color: rgba(51, 64, 70, 1);
  background-color: rgba(51, 64, 70, var(--tw-bg-opacity, 1));
  --tw-text-opacity: 1;
  color: rgba(113, 139, 152, 1);
  color: rgba(113, 139, 152, var(--tw-text-opacity, 1));
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(0px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), 0 0 rgba(0,0,0,0);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 rgba(0,0,0,0));
  --tw-ring-opacity: 1;
  --tw-ring-color: rgba(41, 51, 56, var(--tw-ring-opacity, 1));
}
[data-mode="dark"] .btn.btn-box-tool:hover, [data-mode="dark"] .btn.btn-default:hover {
  --tw-bg-opacity: 1;
  background-color: rgba(71, 89, 97, 1);
  background-color: rgba(71, 89, 97, var(--tw-bg-opacity, 1));
}
.btn.btn-gray {
  --tw-bg-opacity: 1;
  background-color: rgba(197, 208, 213, 1);
  background-color: rgba(197, 208, 213, var(--tw-bg-opacity, 1));
  --tw-text-opacity: 1;
  color: rgba(41, 51, 56, 1);
  color: rgba(41, 51, 56, var(--tw-text-opacity, 1));
}
.btn.btn-gray:hover {
  --tw-bg-opacity: 1;
  background-color: rgba(169, 185, 192, 1);
  background-color: rgba(169, 185, 192, var(--tw-bg-opacity, 1));
  --tw-text-opacity: 1;
  color: rgba(41, 51, 56, 1);
  color: rgba(41, 51, 56, var(--tw-text-opacity, 1));
}
[data-mode="dark"] .btn.btn-gray {
  --tw-bg-opacity: 1;
  background-color: rgba(21, 26, 29, 1);
  background-color: rgba(21, 26, 29, var(--tw-bg-opacity, 1));
  --tw-text-opacity: 1;
  color: rgba(71, 89, 97, 1);
  color: rgba(71, 89, 97, var(--tw-text-opacity, 1));
}
[data-mode="dark"] .btn.btn-gray:hover {
  --tw-bg-opacity: 1;
  background-color: rgba(41, 51, 56, 1);
  background-color: rgba(41, 51, 56, var(--tw-bg-opacity, 1));
  --tw-text-opacity: 1;
  color: rgba(41, 51, 56, 1);
  color: rgba(41, 51, 56, var(--tw-text-opacity, 1));
}
.btn.btn-gray, .btn.btn-primary {
  --tw-shadow: 0 0 rgba(0,0,0,0);
  --tw-shadow-colored: 0 0 rgba(0,0,0,0);
  box-shadow: 0 0 rgba(0,0,0,0), 0 0 rgba(0,0,0,0), 0 0 rgba(0,0,0,0);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 rgba(0,0,0,0)), var(--tw-ring-shadow, 0 0 rgba(0,0,0,0)), var(--tw-shadow);
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(0px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), 0 0 rgba(0,0,0,0);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
}
.btn.btn-xs {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  font-size: 0.75rem;
  line-height: 1rem;
}

/*
 * Table
 */
.table {
  width: 100%;
  border-top-width: 1px;
  border-left-width: 1px;
  border-color: rgba(197, 208, 213, 0.5);
}
[data-mode="dark"] .table {
  --tw-border-opacity: 1;
  border-color: rgba(41, 51, 56, 1);
  border-color: rgba(41, 51, 56, var(--tw-border-opacity, 1));
}
.table th {
  white-space: nowrap;
  background-color: rgba(243, 244, 245, 0.5);
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
  text-align: left;
  font-weight: 600;
  --tw-text-opacity: 1;
  color: rgba(91, 115, 125, 1);
  color: rgba(91, 115, 125, var(--tw-text-opacity, 1));
}
.table th:is([data-mode="dark"] *) {
  --tw-bg-opacity: 1;
  background-color: rgba(33, 41, 46, 1);
  background-color: rgba(33, 41, 46, var(--tw-bg-opacity, 1));
  --tw-text-opacity: 1;
  color: rgba(197, 208, 213, 1);
  color: rgba(197, 208, 213, var(--tw-text-opacity, 1));
}
.table td {
  padding: 0.25rem;
}
.table th, .table td {
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-color: rgba(197, 208, 213, 0.5);
  font-size: 0.75rem;
  line-height: 1rem;
}
.table th:is([data-mode="dark"] *), .table td:is([data-mode="dark"] *) {
  --tw-border-opacity: 1;
  border-color: rgba(41, 51, 56, 1);
  border-color: rgba(41, 51, 56, var(--tw-border-opacity, 1));
}
.table th .fa, .table th .fas, .table th .far, .table td .fa, .table td .fas, .table td .far {
  font-size: 0.875rem;
  line-height: 1.25rem;
}
.table .form-control {
  border-radius: 0.25rem;
  border-width: 1px;
  border-color: rgba(197, 208, 213, 0.75);
  --tw-bg-opacity: 1;
  background-color: rgba(255, 255, 255, 1);
  background-color: rgba(255, 255, 255, var(--tw-bg-opacity, 1));
}
.table .form-control:is([data-mode="dark"] *) {
  --tw-border-opacity: 1;
  border-color: rgba(41, 51, 56, 1);
  border-color: rgba(41, 51, 56, var(--tw-border-opacity, 1));
}

/*
 * Alerts
 */
.alert {
  border-radius: 0.375rem;
  padding: 1rem;
}
.alert h3 {
  margin: 0px !important;
  border-style: none !important;
  background-color: transparent !important;
  padding: 0px !important;
  font-weight: 600 !important;
  margin: 0 !important;
  padding: 0 !important;
}
.alert.alert-info {
  --tw-bg-opacity: 1;
  background-color: rgba(219, 234, 254, 1);
  background-color: rgba(219, 234, 254, var(--tw-bg-opacity, 1));
  --tw-text-opacity: 1;
  color: rgba(30, 64, 175, 1);
  color: rgba(30, 64, 175, var(--tw-text-opacity, 1));
}
.alert.alert-info .icon {
  --tw-text-opacity: 1;
  color: rgba(96, 165, 250, 1);
  color: rgba(96, 165, 250, var(--tw-text-opacity, 1));
}
.alert.alert-warning {
  --tw-bg-opacity: 1;
  background-color: rgba(254, 249, 195, 1);
  background-color: rgba(254, 249, 195, var(--tw-bg-opacity, 1));
  --tw-text-opacity: 1;
  color: rgba(133, 77, 14, 1);
  color: rgba(133, 77, 14, var(--tw-text-opacity, 1));
}
.alert.alert-warning .icon {
  --tw-text-opacity: 1;
  color: rgba(250, 204, 21, 1);
  color: rgba(250, 204, 21, var(--tw-text-opacity, 1));
}
.alert.alert-danger {
  --tw-bg-opacity: 1;
  background-color: rgba(254, 226, 226, 1);
  background-color: rgba(254, 226, 226, var(--tw-bg-opacity, 1));
  --tw-text-opacity: 1;
  color: rgba(153, 27, 27, 1);
  color: rgba(153, 27, 27, var(--tw-text-opacity, 1));
}
.alert.alert-danger .icon {
  --tw-text-opacity: 1;
  color: rgba(248, 113, 113, 1);
  color: rgba(248, 113, 113, var(--tw-text-opacity, 1));
}
.alert.alert-success {
  --tw-bg-opacity: 1;
  background-color: rgba(220, 252, 231, 1);
  background-color: rgba(220, 252, 231, var(--tw-bg-opacity, 1));
  --tw-text-opacity: 1;
  color: rgba(22, 101, 52, 1);
  color: rgba(22, 101, 52, var(--tw-text-opacity, 1));
}
.alert.alert-success .icon {
  --tw-text-opacity: 1;
  color: rgba(74, 222, 128, 1);
  color: rgba(74, 222, 128, var(--tw-text-opacity, 1));
}

/* TinyMCE -------------------------------------- */
.mce-tinymce {
  padding: 0px;
  --tw-shadow: 0 0 rgba(0,0,0,0);
  --tw-shadow-colored: 0 0 rgba(0,0,0,0);
  box-shadow: 0 0 rgba(0,0,0,0), 0 0 rgba(0,0,0,0), 0 0 rgba(0,0,0,0);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 rgba(0,0,0,0)), var(--tw-ring-shadow, 0 0 rgba(0,0,0,0)), var(--tw-shadow);
  box-shadow: none !important;
}
.mce-tinymce.mce-panel {
  border-style: none;
}
.mce-tinymce .mce-btn {
  --tw-bg-opacity: 1;
  background-color: rgba(243, 244, 245, 1);
  background-color: rgba(243, 244, 245, var(--tw-bg-opacity, 1));
}
.mce-tinymce .mce-top-part {
  border-radius: 0.25rem;
  border-style: none;
}
.mce-tinymce .mce-top-part:has(.mce-widget) {
  margin: 0px;
  --tw-bg-opacity: 1;
  background-color: rgba(243, 244, 245, 1);
  background-color: rgba(243, 244, 245, var(--tw-bg-opacity, 1));
  padding: 0.25rem;
}
.mce-tinymce .mce-top-part:before {
  box-shadow: none !important;
}
.mce-tinymce .mce-edit-area {
  border-radius: 0.25rem;
  border-style: none;
}
.mce-tinymce .mce-first {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  --tw-bg-opacity: 1;
  background-color: rgba(243, 244, 245, 1);
  background-color: rgba(243, 244, 245, var(--tw-bg-opacity, 1));
}
.mce-tinymce .mce-statusbar.mce-last {
  border-bottom-right-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
  border-style: none;
}
.mce-tinymce .mce-statusbar.mce-last .mce-flow-layout-item,
.mce-tinymce .mce-statusbar.mce-last .mce-container-body {
  border-radius: 0.25rem;
  --tw-bg-opacity: 1;
  background-color: rgba(243, 244, 245, 1);
  background-color: rgba(243, 244, 245, var(--tw-bg-opacity, 1));
}
