.placeholderAccordion {
	border-left: 1px solid #CCC;
}

.placeholderContainerValue {
	padding: 5px;
	border: 1px dashed #CCC;
	margin: 5px 5px 5px 0;
	white-space: pre;
	font-family: monospace;
	background: #F0F0F0;
}

