/*.iFrame-Container {
	background: -moz-linear-gradient(center top , #FFF 0%, #F0F0F0 50%, #FFF 100%) repeat scroll 0 0 transparent;
	border: 1px solid #CCC;
	border-radius: 3px 3px 3px 3px;
	box-shadow: 0 0 10px #CCC inset, 0 0 #CCC inset, 0 0 0 #CCC;
	margin-bottom: 10px;
	margin-top: 2px;
	padding: 10px 10px 0;
}*/
.layout-ruler {
	height: 15px;
	background: url(/admin/extensions/tc/images/dialog_ruler.png) -600px no-repeat;
}
.layout-note {
	padding: 6px;
	margin: 0;
	text-align: center
}