#week-selection {
	text-align: center;
	margin-bottom: 15px;
}

#week-date {
	font-size: 25px;
	vertical-align: middle;
}

.days-container {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-evenly;
}

.day-box {
	flex-direction: column;
	text-align: center;
	width: calc(100% / 8);
	min-width: 110px;
	padding-bottom: 5px;
}

.block-box {
	margin: 3px;
	border: 1px solid #ccc;
	border-radius: 3px;
	z-index: 1;
	padding: 5px;
}

.block-box p {
	margin-bottom: 1px;
}

.day-off{
	font-size: 40px !important;
	margin-bottom: 20px;
}

.category-name {
	font-size: 20px;
}