@use "sass:math";

& {
	// Overlay position
	position: relative;
}

.loading-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(255, 255, 255, 0.7);

	//display: flex;
	//justify-content: center;
	//align-items: center;

	> div {
		position: absolute;
		top: 50%;
		left: 50%;
		//margin-left: math.div($spinner-width, -2);
		//margin-top: math.div($spinner-width, -2);
		max-width: 350px;
		transform: translateX(-50%) translateY(-50%);
		text-align: center;
		font-weight: bold;

		> p {
			margin-top: $spacer;
			//white-space: pre-line;
		}

		i.fas {
			font-size: $spinner-width;
		}
	}

}
