
	
	

.LB_overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #fff;
	filter:alpha(opacity=70);
	-moz-opacity: 0.7;
	opacity: 0.7;
	z-index: 9998;
}

.LB_window {
	position: absolute;
	background: #fff;
	color:#000000;
	display:none;
	border: 4px solid #dddddd;
	z-index: 9999;
}

.LB_window #codebox {
   width: 420px;
   height: 80px;
   margin: 0 65px 15px 65px;
   border: 1px dotted #dddddd;
   overflow: auto;
}
.LB_window label {
   margin: 0;
}

.LB_caption{
	height:25px;
	padding:10px 30px 10px 25px;
	float:left;
	width: 100%;
}

#LB_closeWindow{
	height:25px;
	padding:10px 25px 10px 0;
	float:right;
}

.LB_closeAjaxWindow{
	cursor: move;
	padding: 5px 10px 7px 0;
	margin: 0px;
	margin-bottom: 1px;
	text-align: right;
	background-color: #eeeeee;
}

.LB_closeAjaxWindow a{
	cursor: pointer;
	
}

.LB_closeAjaxWindow a img {
	border: 0!important;
}

#LB_title {
	float:			left;
	text-align:		left;
	line-height:	17px;
	padding-left:	11px;
	height:			17px;
	color:			#29527A;
	font-weight:	bold;
}

.LB_content{
	overflow:auto;
}

.LB_content P {
	margin: 0px;
	padding: 10px;	
}

.LB_content H2 {
	margin:			0px;
	padding:		0px;
	font-size: 		11px;
	line-height:	20px;
	clear:			both;
}

.LB_content .divCol {
	float:				left;
	width:				49%;
}

.LB_content .divButton {
	padding:			10px;
	text-align:			right;
}

.LB_resize{
   background-image: url("handle.gif");
   background-position: bottom right;
   background-repeat: no-repeat;
   height: 13px;
   width: 15px;
   position: absolute;
   bottom: 0;
   right: 0;
}

.LB_content .error {
	border: 1px solid red!important;
}

.LB_content .response {
	color: 				#29527A;
	padding-left:		104px;
}
