
TD.textedit { }

.textedit DIV.document {
	height: 150;
	background-color: window;
	border: 2px inset buttonface; padding:5;
}

/* rebar styles ***************************************************************/
TD.rebar { padding:0; padding-bottom:2; padding-top:2;
	font-size: xx-small; vertical-align: middle;
}

TD.spacer {
	border-top: 1px solid buttonhighlight;
	padding: 0; margin: 0; height: 4;
}

.rebar SPAN.toolbar {
	border-top: 1px solid buttonhighlight;
	border-left: 1px solid buttonhighlight;
	border-bottom: 1px solid buttonshadow;
	border-right: 1px solid buttonshadow;
	padding: 0; margin: 0; padding-bottom:1; padding-top:1;
}

.rebar SPAN.spacer { width: 2px; }

.rebar SPAN.start {
	margin:0;
	background-color: buttonface;
	border-top: 1px solid buttonhighlight;
	border-left: 1px solid buttonhighlight;
	border-bottom: 1px solid buttonshadow;
	border-right: 1px solid buttonshadow;
	width: 3px;
	height: 18px;
}

.rebar SPAN.label { border:0; position:relative; top: -2; margin-left: 3; }

.rebar SPAN.sep {
	margin:0;
	background-color: buttonface;
	border-top: 1px solid buttonshadow;
	border-left: 1px solid buttonshadow;
	border-bottom: 1px solid buttonhighlight;
	border-right: 1px solid buttonhighlight;
	width: 2px;
	height: 18px;
}

.rebar SELECT {
	font-size: 11px;
	margin-top: 1; margin-bottom: 1;
	width : 100px;
}

.rebar OPTION { border: 5px solid red; }

.rebar SPAN.field {
	border-top: 1px solid buttonhighlight;
	border-left: 1px solid buttonhighlight;
	border-bottom: 1px solid buttonshadow;
	border-right: 1px solid buttonshadow;
	padding: 0; margin: 0; padding-bottom:1; padding-top:1;
}

.rebar .field SPAN.label {
	margin-left: 0;
	padding-left: 8; width: 60;
}

.rebar .field SPAN.start {
	position: relative; top: 1;

}

.rebar .field INPUT.field {
	border-top: 2px solid buttonshadow;
	border-left: 2px solid buttonshadow;
	border-bottom: 2px solid buttonhighlight;
	border-right: 2px solid buttonhighlight;
	font-size: 13px;
	margin-top: 0; margin-bottom: -1; margin-top: -1;
}

.rebar IMG {
	border: 1px solid buttonface; margin:0; padding:1;
	cursor: hand;
}

.rebar IMG.hover {
	border-top: 1px solid buttonhighlight;
	border-left: 1px solid buttonhighlight;
	border-bottom: 1px solid buttonshadow;
	border-right: 1px solid buttonshadow;
}

.rebar IMG.down {
	border-bottom: 1px solid buttonhighlight;
	border-right: 1px solid buttonhighlight;
	border-top: 1px solid buttonshadow;
	border-left: 1px solid buttonshadow;
}

.rebar IMG.disabled {
	border: 1px solid buttonface; margin:0; padding:0;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=30);
	cursor: ;
}

IMG.rebar_button {
	border-top: 1px solid buttonface;
	border-left: 1px solid buttonface;
	border-bottom: 1px solid buttonface;
	border-right: 1px solid buttonface;
}

IMG.rebar_button_hover {
	border-top: 1px solid buttonhighlight;
	border-left: 1px solid buttonhighlight;
	border-bottom: 1px solid buttonshadow;
	border-right: 1px solid buttonshadow;

}
IMG.rebar_button_down {
	border-bottom: 1px solid buttonhighlight;
	border-right: 1px solid buttonhighlight;
	border-top: 1px solid buttonshadow;
	border-left: 1px solid buttonshadow;
}

/* control styles ***************************************************************/
OBJECT#color {
	position: absolute;
	width:300; height: 227;
	display: none;
	background-color: red; border: 2px outset buttonface
}
