@import "../variables";

div[component="block-nav-buttons"] {
	margin-bottom: $spacer;
	text-align: right;

	button:not(.float-left) {
		margin-left: ($spacer * .5);
	}

	.btn-success,
	.btn-info {
		font-weight: bold;
	}
}

// https://www.cssscript.com/multi-step-form-bootstrap/
nav[component="block-nav-steps"] {
	//display: -ms-grid;
	display: grid;
	//-ms-grid-columns: minmax(min-content, 1fr) minmax(min-content, 1fr);
	grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
	margin-bottom: $spacer;

	.nav-link {
		transition-property: all;
		transition-duration: 0.15s;
		transition-timing-function: linear;
		transition-delay: 0s;
		position: relative;
		padding-top: 20px;
		color: rgba($secondary, 0.7);
		//text-indent: -9999px;
		border: none;
		background-color: transparent;
		outline: none !important;
		// cursor: pointer;
		pointer-events: none;
		text-align: center;
		word-wrap: break-word;
	}

	//@media (min-width: 500px) {
	//	& .nav-link {
	//		text-indent: 0;
	//	}
	//}

	// Bullet
	.nav-link:before {
		position: absolute;
		top: 0;
		left: 50%;
		display: block;
		width: 13px;
		height: 13px;
		content: '';
		-webkit-transform: translateX(-50%);
		transform: translateX(-50%);
		transition: all 0.15s linear 0s, -webkit-transform 0.15s cubic-bezier(0.05, 1.09, 0.16, 1.4) 0s;
		transition: all 0.15s linear 0s, transform 0.15s cubic-bezier(0.05, 1.09, 0.16, 1.4) 0s;
		transition: all 0.15s linear 0s, transform 0.15s cubic-bezier(0.05, 1.09, 0.16, 1.4) 0s, -webkit-transform 0.15s cubic-bezier(0.05, 1.09, 0.16, 1.4) 0s;
		border: 2px solid currentColor;
		border-radius: 50%;
		background-color: #fff;
		box-sizing: border-box;
		z-index: 3;
	}

	// Line to left
	.nav-link:after {
		position: absolute;
		top: 5px;
		left: calc(-50% - 12px / 2);
		transition-property: all;
		transition-duration: 0.15s;
		transition-timing-function: linear;
		transition-delay: 0s;
		display: block;
		width: 100%;
		height: 2px;
		content: '';
		background-color: currentColor;
		z-index: 1;
	}

	// Do not show line to left on first element
	.nav-link:first-child:after {
		display: none;
	}

	.nav-link.active {
		color: $link-color;
		color: var(--primary);
	}

	// Bullet
	.nav-link.active:before,
	.nav-link.visited:before {
		-webkit-transform: translateX(-50%) scale(1.2);
		transform: translateX(-50%) scale(1.2);
		background-color: $link-color;
		background-color: var(--primary);
		border-color: $link-color;
		border-color: var(--primary);
	}

	// Line to left
	.nav-link.visited:after {
		color: $link-color;
		color: var(--primary);
	}

	.nav-link.error {
		span {
			color: $danger;
		}

		&:before {
			border-color: $danger;
		}

		&.active:before {
			background-color: $danger;
		}
	}
}
