
.dialog-overlay {
/*	background-color: #F0F0F0;
	opacity: 0.8;
	filter:  alpha(opacity=80);
	position: fixed;
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
	display: none;*/
}

.dialog-wrapper {
	margin: 0;
}

.dialog {
/*	border: 1px solid #878787;
	background-color: #FFF;*/
}

.dialog-header {
/*	border-bottom: 1px solid #878787;
	color: #FFFFFF;
	background-color: #1B5790;
	padding: 5px 10px;
	font-size: 14px;
	font-weight: bold;*/
}

.dialog-body {
    position: relative;
    padding: 0;
}

.dialog-content {
	background-color: #FFFFFF;
}

.buttons .form-control {
	width: initial;
}

.dialog-actions .buttons {
/*	background-color: #F2F2F2;
	border-top: 1px solid #CCCCCC;
	text-align: right;
	padding: 3px 10px;*/
}

.dialog-button {
/*	font-size: 12px;
	background-color: #2E6AB1;
	border: 1px solid #2E6AB1;
	color: #FFFFFF;
	margin-left: 8px;
	padding: 1px 10px;
	cursor: pointer;
	line-height: 15px;*/
}

.dialog-button-disable {
/*	font-size: 12px;
	background-color: #F2F2F2;
	border: 1px solid #CCCCCC;
	color: #CCCCCC;
	margin-left: 8px;
	padding: 1px 10px;
	line-height: 15px;*/
}

iframe.iefix {
	display: none;
	display/**/: block;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	filter:mask();
}
