.slide-enter-active {
	transition-duration: 300ms;
	transition-timing-function: ease-in-out;
}

.slide-leave-active {
	transition-duration: 300ms;
	transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.slide-enter-to,
.slide-leave-from {
	opacity: 1;
}

.slide-enter-from,
.slide-leave-to {
	opacity: 0;
}