#matching_bar, #matching_bar_availability {
  display: flex;
  flex-direction: row;
  align-items: center;
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
  border-bottom-width: 1px;
  border-color: rgba(197, 208, 213, 0.5);
  --tw-bg-opacity: 1;
  background-color: rgba(255, 255, 255, 1);
  background-color: rgba(255, 255, 255, var(--tw-bg-opacity, 1));
}
#matching_bar .guiBarFilter:has(div[role=button]), #matching_bar_availability .guiBarFilter:has(div[role=button]) {
  padding: 0px;
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(0px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), 0 0 rgba(0,0,0,0);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 rgba(0,0,0,0));
}
#matching_bar .guiBarFilter div[role=button], #matching_bar_availability .guiBarFilter div[role=button] {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
  border-radius: 0.25rem;
  --tw-bg-opacity: 1;
  background-color: rgba(255, 255, 255, 1);
  background-color: rgba(255, 255, 255, var(--tw-bg-opacity, 1));
  padding-left: 0.375rem;
  padding-right: 0.375rem;
  --tw-text-opacity: 1;
  color: rgba(91, 115, 125, 1);
  color: rgba(91, 115, 125, var(--tw-text-opacity, 1));
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), 0 0 rgba(0,0,0,0);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 rgba(0,0,0,0));
  --tw-ring-color: rgba(197, 208, 213, 0.75);
}
#matching_bar .guiBarFilter div[role=button]:hover, #matching_bar_availability .guiBarFilter div[role=button]:hover {
  --tw-text-opacity: 1;
  color: rgba(71, 89, 97, 1);
  color: rgba(71, 89, 97, var(--tw-text-opacity, 1));
  --tw-ring-opacity: 1;
  --tw-ring-color: rgba(169, 185, 192, var(--tw-ring-opacity, 1));
}
#matching_bar .guiBarFilter div[role=button]:is([data-mode="dark"] *), #matching_bar_availability .guiBarFilter div[role=button]:is([data-mode="dark"] *) {
  --tw-bg-opacity: 1;
  background-color: rgba(71, 89, 97, 1);
  background-color: rgba(71, 89, 97, var(--tw-bg-opacity, 1));
  --tw-text-opacity: 1;
  color: rgba(169, 185, 192, 1);
  color: rgba(169, 185, 192, var(--tw-text-opacity, 1));
}
#matching_bar .guiBarFilter div[role=button]:hover:is([data-mode="dark"] *), #matching_bar_availability .guiBarFilter div[role=button]:hover:is([data-mode="dark"] *) {
  --tw-bg-opacity: 1;
  background-color: rgba(91, 115, 125, 1);
  background-color: rgba(91, 115, 125, var(--tw-bg-opacity, 1));
  --tw-text-opacity: 1;
  color: rgba(197, 208, 213, 1);
  color: rgba(197, 208, 213, var(--tw-text-opacity, 1));
}
#matching_bar .guiBarFilter div[role=button], #matching_bar_availability .guiBarFilter div[role=button] {
  height: 24px;
  box-sizing: border-box;
}
#matching_bar #collapseCriteria, #matching_bar_availability #collapseCriteria {
  border-radius: 0.375rem;
  border-width: 1px;
  border-color: rgba(197, 208, 213, 0.5);
  --tw-bg-opacity: 1;
  background-color: rgba(255, 255, 255, 1);
  background-color: rgba(255, 255, 255, var(--tw-bg-opacity, 1));
  padding: 0.5rem;
}

#matching_body {
  --tw-bg-opacity: 1;
  background-color: rgba(255, 255, 255, 1);
  background-color: rgba(255, 255, 255, var(--tw-bg-opacity, 1));
}
#matching_body table.tblMatching th {
  border-bottom-width: 1px;
  border-right-width: 1px;
  background-color: rgba(243, 244, 245, 0.5);
}
#matching_body table.tblMatching td {
  border-bottom-width: 1px;
}
#matching_body table.tblMatching th, #matching_body table.tblMatching td {
  border-color: rgba(197, 208, 213, 0.5);
}
